<!DOCTYPE html>
<html>
  <head>
    <title>Buy Ticket</title>
  </head>
  <body>
    <div class="container">
  <h1>Buy Ticket</h1>
  <p>Event Name: {{ event.name }}</p>
  <p>Venue: {{ event.venue }}</p>
  <p>Time: {{ event.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
  <p>Ticket Price: {{ event.ticket_price }}</p>
  <form method="POST" action="{{ url_for('buy_ticket', event_id=event.id, ticket_id=ticket.id ) }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <label for="quantity">Number of tickets:</label>
    <input type="number" name="quantity" required>
    <br>
    <input type="submit" value="Buy Tickets">
  </form>
</div>
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
