<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <style >
      body {
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center;
}</style>
</head>
<body>
  <main role="main" class="container">
      <div class="row">
        <div class="col-md-20">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
        </div>
      </div>
    </main>
 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Ticket Show</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="navbar-nav">
                <form class="form-inline my-4 my-lg-0" action="{{ url_for('search_results') }}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for show/venue" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a class="nav-item nav-link" href="{{ url_for('logout_us') }}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>   

  <div class="container" >
    {% for event in events %}
    <div class="event-card" style="background-color: white;">
      <td>
      {% if event.image %}
      <img src="{{ url_for('static', filename='event_images/' + event.image) }}" alt="{{ event.name }}">
      {% else %}
      <img src="{{ url_for('static', filename='event_images/default.png') }}" alt="Default Image">
      {% endif %}
      </td>

      <h3>{{ event.name }}</h3>
      <p>{{ event.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
      <p>{{ event.end_time.strftime('%Y-%m-%d %H:%M') }}</p>
      <p>{{ event.venue }}</p>
      <p>Ticket Price: {{ event.ticket_price }}</p>
      <td><a href="{{ url_for('buy_ticket', event_id=event.id) }}">Buy Ticket</a></td>
    </div>
    {% endfor %}
  </div>
</body>
</html>

