<!DOCTYPE html>
<html>
  <head>
    <title>Shows List</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #DEB887;
      }
      li:nth-child(even) {
        background-color: #e6e6e6;
      }
    </style>
  </head>
  <body>
    <h1>Shows List</h1>
    <ul>
      {% for event in events %}
      <li>{{ event.name }} , {{ event.venue }} , {{ venue.start_time }}-{{ event.end_time }}</li>
      {% endfor %}
    </ul>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
